:root {
    --myBlue: rgba(0, 0, 228, 0.3);
    --myPurp: rgba(161, 7, 161, 0.3);
    --myWhite: rgba(255, 255, 255, 0.76);
    --myGrey: rgb(161, 155, 155);
    --white: rgb(224, 219, 219);
    --myBlack: rgba(22, 21, 21, 0.74);
}


/************************************************
                    BASE STYLES
*************************************************/

html,
body {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    width: 100vw;
    height: 100vh;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Quattrocento', serif;
}


/*************************************************
                Index.html
**************************************************/

.index-container {
    min-height: 100%;
    display: grid;
    /* grid-template-rows: 1fr auto; */
    background: url(../imgz/Portfolio/IMG_0888.jpg);
    background-size: cover;
    background-position: bottom;
}


/********* Header Top ***********/

.index-top {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1fr, 2fr));
    padding: 0;
    margin: 0;
    /* background: url(../imgz/Portfolio/IMG_0796.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.index-main-header {
    display: flex;
    flex-direction: column;
    
    padding: .625rem;
    border-radius: 5px 5px 0 0;
    color: white;
    letter-spacing: 5px;
    text-shadow: 2px 2px 1px #000000;
    /* text-shadow: 1px 1px 1px #000; */
    font-weight: 200;
    
}

.index-main-header>* {
    margin: 3px;
    padding: 0 0.425rem;
    background: rgba(184, 168, 168, 0.521);
    align-self: center;
}

.index-main-header h2 {
    font-weight: 100;
    margin-top: 10px;
}


/******* NAVIGATION ********/

.index-body {
    background: var (var(--myWhite));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.nav-div{
    height: 52px;
}

.index-main-nav-div {
    display: grid;
    min-height: 2rem;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    padding: 0.625rem;
    list-style: none;
    font-size: 1.2rem;
    background: rgba(43, 40, 40, 0.438);
    font-weight: 100;
}

.index-list {
    /* display: grid;
    min-height: 100%;
    min-width: 80%;
    grid-template-rows: repeat(auto-fit, minmax(25px, auto));
    border: 1px solid black;
    box-shadow: 2px 2px 10px black; */
}

.index-list a {
    max-height: 25px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 5px;
    padding: 0;
    margin: 0;
    color: var(--myWhite);
    text-shadow: 2px 2px 2px #000;
    position: relative;
}

.index-main-nav-div a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: var(--myWhite);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.index-main-nav-div a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}


/******** Middle Content **********/

.about-me,
.contact {
    width: 30%;
    margin: 5rem auto;
    text-align: center;
}

.about-me h1::after {
    content: "";
    height: 3px;
    background: linear-gradient(to right,  rgba(0,0,0,0) 0%,var(--myBlack) 50%,rgba(0,0,0,0) 100%);
    display: block;
}

/*************************************************
                    PORTFOLIO section
**************************************************/
.portfolio {
    display: flex;
    flex-direction: column;
    height: 40rem;
    background: linear-gradient(to bottom right, var(--myWhite), var(--myGrey));
    box-shadow: 1px 1px 10px var(--myBlack);
}

.port-h1{
    align-self: center;
}

.port-ul {
    grid-area: first;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.port-list {
    margin: 1.5rem 1.5625rem;
    padding: 5px;
    font-size: 2.5rem;
 
}

.port-list::after {
    content: "";
    height: 1px;
    background: linear-gradient(to right, rgba(0,0,0,0) 0,  var(--myBlack) 50%,rgba(0,0,0,0) 100%);
    display: block;
}

.port-list:hover{
    cursor: pointer;
    background: var(--myWhite);
    font-size: 2.55rem;
    border-radius: 3px;

}

.second-col {
    
}

.slider-1,
.slider-2,
.slider-3,
.slider-4{
    display: none;
}



/******* FOOTER ********/

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-self: flex-end;
    text-align: center;
    background: var(--myBlack);
    color: white;
    letter-spacing: .05rem;
    font-size: 0.75rem;
}

.social-icon-div{
    grid-column: 2/3;
    justify-self: start;
    padding-left: 10px;
}

.social-icon {
    width: 30px;
    height: 30px;
    margin: 5px;
    background-color: white;
    border-radius: 75%
}

.copy-div {
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: end;
    padding-right: 10px;
    margin: 5px;
    
    
}



/*************************************************
                    WRAPS & DIVS
**************************************************/

#index-center-wrap {}