:root {
    --myBlue: rgba(0, 0, 228, 0.3);
    --myPurp: rgba(161, 7, 161, 0.3);
    --myWhite: rgba(255, 255, 255, 0.76);
    --myGrey: rgb(161, 155, 155);
    --white: rgb(224, 219, 219);
    --myBlack: rgba(22, 21, 21, 0.74);
}


/************************************************
                    BASE STYLES
*************************************************/

html,
body {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    width: 100vw;
    height: 100vh;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Quattrocento', serif;
}

p {
    font-size: 1.25rem;
    line-height: 2.00;
}


/*************************************************
                Index.html
**************************************************/

.index-container {
    min-height: 100%;
    display: grid;
    /* grid-template-rows: 1fr auto; */
    background: url(../imgz/Portfolio/IMG_0888.jpg);
    box-shadow: 1px 1px 10px var(--myBlack);
    background-size: cover;
    background-position: bottom;
}


/********* Header Top ***********/

.index-top {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1fr, 2fr));
    padding: 0;
    margin: 0;
    /* background: url(../imgz/Portfolio/IMG_0796.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.index-main-header {
    display: flex;
    flex-direction: column;
    padding: .625rem;
    border-radius: 5px 5px 0 0;
    color: white;
    letter-spacing: 5px;
    text-shadow: 2px 2px 1px #000000;
    /* text-shadow: 1px 1px 1px #000; */
    font-weight: 200;
}

.index-main-header>* {
    margin: 3px;
    padding: 0 0.425rem;
    background: rgba(184, 168, 168, 0.521);
    align-self: center;
    border-radius: 2px;
}

.index-main-header h2 {
    font-weight: 100;
    margin-top: 10px;
}


/******* NAVIGATION ********/

.index-body {
    background: var (var(--myWhite));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.nav-div {
    height: 52px;
}

.index-main-nav-div {
    width: 100%;
    min-height: 2rem;
    padding: 0.625rem;
    list-style: none;
    font-size: 1.2rem;
    background: rgba(43, 40, 40, 0.438);
    font-weight: 100;
    position: fixed;
}

.index-main-nav-ul {
    padding: 0;
}

.index-list {
    display: inline;
}

.index-list a {
    max-height: 25px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 5px;
    padding: 0;
    margin: 0 1.25rem;
    color: var(--myWhite);
    text-shadow: 2px 2px 2px #000;
    position: relative;
}

.index-main-nav-div a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: var(--myWhite);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.index-main-nav-div a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}


/******** Middle Content **********/

.about-me,
.contact {
    width: 45%;
    margin: 5rem auto;
    text-align: center;
}

.about-me h1::after {
    content: "";
    height: 3px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, var(--myBlack) 50%, rgba(0, 0, 0, 0) 100%);
    display: block;
}


/*************************************************
                    PORTFOLIO section
**************************************************/

.portfolio {
    display: flex;
    flex-direction: column;
    height: 49.75%;
    background: linear-gradient(to bottom right, var(--myWhite), var(--myGrey));
    box-shadow: 1px 1px 10px var(--myBlack);
}

.port-h1 {
    align-self: center;
}

.port-ul {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.port-list {
    margin: 1rem 1.5625rem;
    padding: 5px;
    font-size: 2.5rem;
}

.port-list::after {
    content: "";
    height: 1px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0, var(--myBlack) 50%, rgba(0, 0, 0, 0) 100%);
    display: block;
}

.port-list:hover {
    cursor: pointer;
    background: var(--myWhite);
    font-size: 2.55rem;
    border-radius: 3px;
}

.second-col {
    display: flex;
    flex-direction: column;
    height: auto;
    /* margin-top: auto; */
    padding-bottom: 1.25rem;
    align-items: center;
}

.main-image-div {
    height: 80%;
    width: 50%;
    margin-bottom: 1.625rem;
}

.main-img {
    width: 100%;
}

.slide {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    height: 30%;
    width: 80%;
    grid-gap: 10px;
    align-content: flex-end;
    margin-top: 1.625rem;
}

.img-box {
    height: 100px;
    width: 100px;
    box-shadow: 1px 1px 10px var(--myBlack);
    margin-top: 24%;
}

.img-box img {
    float: left;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: 4px solid var(--myBlack);
}

.img-box:hover {
    cursor: pointer;
}


/********ABOUT ME SECTION*********/

.contact p {
    padding-top: 1rem;
}

.contact p::before {
    content: "";
    height: 3px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, var(--myBlack) 50%, rgba(0, 0, 0, 0) 100%);
    display: block;
}

.contact-me-btn {
    text-decoration: none;
    color: var(--myBlack);
    padding: 5px 45px;
    border-radius: 3px;
    background: var(--myGrey);
    box-shadow: 1px 1px 5px var(--myBlack);
}


/******* FOOTER ********/

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-self: flex-end;
    text-align: center;
    background: var(--myBlack);
    color: white;
    letter-spacing: .05rem;
    font-size: 0.75rem;
}

.social-icon-div {
    grid-column: 2/3;
    justify-self: start;
    padding-left: 10px;
}

.social-icon {
    width: 30px;
    height: 30px;
    margin: 5px;
    background-color: white;
    border-radius: 75%
}

.copy-div {
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: end;
    padding-right: 10px;
    margin: 5px;
}


/*************************************************
                    Media Queries
**************************************************/


/* Landscape phones and down */

@media (max-width: 768px) {
    p {
        font-size: 1rem;
        line-height: 2.00;
    }
    .menu-btn-div {
        background: rgba(43, 40, 40, 0.438);
        width: 100%;
        color: white;
        font-size: 1.2rem;
        font-weight: 100;
        margin-bottom: 0.625rem;
        position: fixed;
    }
    .menu-btn li {
        padding: 2.625rem;
    }
    .menu-btn {
        background: rgba(43, 40, 40, 0.438);
        border: none;
        color: var(--myWhite);
        letter-spacing: 1.5px;
    }
    .menu-btn::after {
        content: "";
        height: 2px;
        color: var(--myWhite);
    }
    .mobile-main-nav-ul {
        padding: 0;
    }
    .mobile-list {
        padding: 0.625rem;
    }
    .mobile-list a {
        margin: 0.625rem;
    }
    .mobile-list a:hover {
        font-size: 1.5rem;
    }
    .index-main-nav-div {
        display: none;
        margin-bottom: 5px;
    }
    .index-main-header>* {
        letter-spacing: 2px;
    }
    .about-me,
    .contact {
        width: 90%;
        margin: 5rem auto;
        text-align: center;
    }
    .portfolio {
        height: auto;
    }
    .port-ul {
        flex-direction: column;
    }
    .port-list {
        font-size: 1.25rem;
    }
    .port-list:hover {
        font-size: 1.75rem;
    }
}


/* Small devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .menu-btn-div {
        display: none;
    }
}


/* Medium devices (desktops, 992px and up) */

@media (min-width: 992px) {}


/* Large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}